# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/
clean_env/
# Python cache
__pycache__/
*.pyc

# Project-specific local folders
tool_env_2/
python/
.env
python