gunicorn==23.0.0
dash==4.1.0
dash-bootstrap-components==2.0.4
plotly>=5.18,<6
pyarrow
numpy>=1.26
pandas>=2.1
matplotlib>=3.8
geopandas>=0.14
shapely>=2.0
pyproj>=3.6
pyogrio>=0.7
fiona>=1.9
rtree
requests>=2.31