name: Build and deploy Python app to Azure Web App - biogasplantstool

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      # HIER GELÖSCHT: Pip install und venv sind unnötig, 
      # da Azure die Installation selbst machen muss (wegen Linux Binary Kompatibilität).

      - name: Zip artifact for deployment
        # Änderung: "zip -r release.zip ." ist sicherer als "./*"
        run: zip -r release.zip . -x "venv/*" ".git/*" ".github/*"

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write 

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8B3549AA34CE47A9A194638E6CAC4023 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0F2945238B334B12851D6023E155DD80 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_78D1508FDC5344B5A923AD3CA70177BD }}

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: 'biogasplantstool'
          slot-name: 'Production'
          package: .